<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>比较大小 watch实现</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{msg}}</h1>
        数值1: <input type="number" v-model="num1"><br>
        数值2: <input type="number" v-model="num2"><br>
        比较大小： {{compareResult}}
    </div>

    <script>
        const vm = new Vue({
            el: '#app',

            data: {
                msg: '比较大小 watch实现',
                num1: 0,
                num2: 0,
                compareResult: ''
            },

            watch: {
                num1: {
                    immediate: true,
                    handler(val) {
                        console.log(val)
                        let result = val - this.num2
                        if (result == 0) {
                            this.compareResult = val + ' = ' + this.num2
                        } else if (result > 0) {
                            this.compareResult = val + ' > ' + this.num2
                        } else {
                            this.compareResult = val + ' < ' + this.num2
                        }
                    }
                },

                num2: {
                    immediate: true,
                    handler(val) {
                        console.log(val)
                        let result = this.num1 - val
                        if (result == 0) {
                            this.compareResult = this.num1 + ' = ' + val
                        } else if (result > 0) {
                            this.compareResult = this.num1 + ' > ' + val
                        } else {
                            this.compareResult = this.num1 + ' < ' + val
                        }
                    }
                }
            }
        })
    </script>
</body>

</html>