<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表过滤-computed</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{msg}}</h1>

        <input type="text" placeholder="请输入搜索关键字：" v-model="keyword">

        <table>
            <tr>
                <th>序号</th>
                <th>英雄</th>
                <th>能量值</th>
                <th>选择</th>
            </tr>

            <tr v-for="(hero, index) in newHeros" :key="hero.id">
                <td>{{index+1}}</td>
                <td>{{hero.name}}</td>
                <td>{{hero.power}}</td>
                <td><input type="checkbox"></td>
            </tr>
        </table>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',

            data: {
                keyword: '',

                msg: '列表过滤-computed',

                heros: [
                    { id: '1001', name: 'jjl', power: 2000 },
                    { id: '1002', name: 'rrr', power: 3000 },
                    { id: '1003', name: 'kkkr', power: 4000 },
                    { id: '1004', name: 'lll', power: 8000 }
                ]
            },

            computed: {
                newHeros() {
                    return this.heros.filter(((hero) => {
                        return hero.name.indexOf(this.keyword) >= 0
                    }))
                }
            }
        })
    </script>

    <style>
        td,
        th {
            border: 1px solid black;
        }
    </style>
</body>

</html>